USE [master]
GO
/****** Object:  Database [CMS]    Script Date: 28/04/2020 10:56:06 pm ******/
CREATE DATABASE [CMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MUHAMMADJUNAID\MSSQL\DATA\CMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MUHAMMADJUNAID\MSSQL\DATA\CMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMS]
GO
/****** Object:  Table [dbo].[TBLAPPOINTMENT]    Script Date: 28/04/2020 10:56:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLAPPOINTMENT](
	[appoinment_ID] [int] IDENTITY(1,1) NOT NULL,
	[appointment_DoctorID] [int] NOT NULL,
	[appointment_PatientID] [int] NOT NULL,
	[appointment_Date] [datetime] NOT NULL,
	[appointment_Status] [varchar](1) NOT NULL,
 CONSTRAINT [PK__TBLAPPOI__6EDE0F30AD2DEFC1] PRIMARY KEY CLUSTERED 
(
	[appoinment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDOCTOR]    Script Date: 28/04/2020 10:56:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDOCTOR](
	[doctor_ID] [int] IDENTITY(1,1) NOT NULL,
	[doctor_Name] [varchar](100) NOT NULL,
	[doctor_Phone] [varchar](20) NOT NULL,
	[doctor_Email] [varchar](255) NOT NULL,
	[doctor_Fee] [int] NOT NULL,
	[doctor_Salary] [int] NOT NULL,
	[doctor_Specialization] [varchar](255) NOT NULL,
	[is_Active] [varchar](1) NOT NULL,
 CONSTRAINT [PK__TBLDOCTO__F39A317CE1076EAB] PRIMARY KEY CLUSTERED 
(
	[doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLFEEDBACK]    Script Date: 28/04/2020 10:56:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLFEEDBACK](
	[feedback_ID] [int] IDENTITY(1,1) NOT NULL,
	[feedAppoinment_ID] [int] NOT NULL,
	[feedback_Remarks] [varchar](255) NOT NULL,
	[feedback_Dignosis] [varchar](255) NOT NULL,
	[feedback_DateTime] [datetime] NOT NULL,
	[feedback_Presciption] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLPATIENT]    Script Date: 28/04/2020 10:56:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLPATIENT](
	[patient_ID] [int] IDENTITY(1,1) NOT NULL,
	[patient_Name] [varchar](100) NOT NULL,
	[patient_BirthDate] [varchar](255) NOT NULL,
	[patient_Height] [varchar](1) NOT NULL,
	[patient_Weight] [int] NOT NULL,
	[patient_Email] [varchar](50) NOT NULL,
	[patient_Phone] [varchar](20) NOT NULL,
	[patient_Address] [varchar](255) NOT NULL,
	[patient_Gender] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TBLPATIENT] PRIMARY KEY CLUSTERED 
(
	[patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLROLES]    Script Date: 28/04/2020 10:56:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLROLES](
	[roleID] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLUSERROLE]    Script Date: 28/04/2020 10:56:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLUSERROLE](
	[userID] [int] NOT NULL,
	[roleID] [int] NOT NULL,
	[userRoleDesc] [varchar](255) NULL,
 CONSTRAINT [PK__UserRole__774398BF565205C8] PRIMARY KEY CLUSTERED 
(
	[userID] ASC,
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLUSERS]    Script Date: 28/04/2020 10:56:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLUSERS](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](255) NOT NULL,
	[userEmail] [varchar](255) NOT NULL,
	[userPhone] [varchar](50) NOT NULL,
	[userpassword] [varchar](20) NOT NULL,
	[is_Active] [char](1) NOT NULL,
 CONSTRAINT [PK__TBLUSERS__CB9A1CDF856905D5] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TBLUSERS__4A1F5E21263FEFA1] UNIQUE NONCLUSTERED 
(
	[userpassword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TBLUSERS__66DCF95C8F764E87] UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TBLUSERS__D54ADF55EAE03EC5] UNIQUE NONCLUSTERED 
(
	[userEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLAPPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK__TBLAPPOIN__appoi__5165187F] FOREIGN KEY([appointment_DoctorID])
REFERENCES [dbo].[TBLDOCTOR] ([doctor_ID])
GO
ALTER TABLE [dbo].[TBLAPPOINTMENT] CHECK CONSTRAINT [FK__TBLAPPOIN__appoi__5165187F]
GO
ALTER TABLE [dbo].[TBLAPPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK__TBLAPPOIN__appoi__52593CB8] FOREIGN KEY([appointment_PatientID])
REFERENCES [dbo].[TBLPATIENT] ([patient_ID])
GO
ALTER TABLE [dbo].[TBLAPPOINTMENT] CHECK CONSTRAINT [FK__TBLAPPOIN__appoi__52593CB8]
GO
ALTER TABLE [dbo].[TBLFEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK__TBLFEEDBA__feedA__5535A963] FOREIGN KEY([feedAppoinment_ID])
REFERENCES [dbo].[TBLAPPOINTMENT] ([appoinment_ID])
GO
ALTER TABLE [dbo].[TBLFEEDBACK] CHECK CONSTRAINT [FK__TBLFEEDBA__feedA__5535A963]
GO
ALTER TABLE [dbo].[TBLUSERROLE]  WITH CHECK ADD  CONSTRAINT [FK__UserRole__roleID__30F848ED] FOREIGN KEY([roleID])
REFERENCES [dbo].[TBLROLES] ([roleID])
GO
ALTER TABLE [dbo].[TBLUSERROLE] CHECK CONSTRAINT [FK__UserRole__roleID__30F848ED]
GO
ALTER TABLE [dbo].[TBLUSERROLE]  WITH CHECK ADD  CONSTRAINT [FK__UserRole__userID__300424B4] FOREIGN KEY([userID])
REFERENCES [dbo].[TBLUSERS] ([userID])
GO
ALTER TABLE [dbo].[TBLUSERROLE] CHECK CONSTRAINT [FK__UserRole__userID__300424B4]
GO
ALTER TABLE [dbo].[TBLPATIENT]  WITH CHECK ADD CHECK  (([patient_Weight]>=(1)))
GO
USE [master]
GO
